*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
:root{
    --main-color: #f9004d;
}
a{
    text-decoration: none;
}
.colorful{
    color: var(--main-color)
}
.spikes{
    position: relative
}
.spikes::after{
    content: '';
    width: 100%;
    height: 30px;
    position: absolute;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(135deg, #121212 25%, transparent 25%), 
    linear-gradient(225deg, #121212 25%, transparent 25%);
    background-size: 30px 30px;
}
/* Start Landing */
header{
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #151515;
}
header h1{
    font-size: 2rem;
    color: #fff;
    max-width: 60px;
}
header h1 span{
    color: var(--main-color)
}
header ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
header ul li a{
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
}
header ul li a:hover{
    color: var(--main-color);
}
header .btn{
    text-decoration: none;
    color: #fff;
    background-color: var(--main-color);
    border-radius: 30px;
    padding: 15px 25px;
    transition: 0.3s;
}
header .btn:hover{
    transform: scale(1.2);
}
/* End Header */
.banner{
    background-color: #151515;
    padding: 5% 10%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner h4{
    color: #fcfc;
    font-size: 20px;
}
.banner h1{
    margin: 20px 0;
    font-size: 4em;
}
.banner h1 span{
    color: var(--main-color)
}
.banner h3{
    font-size: 22px;
}
.banner form{
    margin-top: 30px;
    position: relative;
    width: 300px;
    background: transparent !important;
}
.banner form input:first-child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--main-color);
    background-color: transparent;
    padding: 15px 45px 15px 15px;
    border-radius: 30px;
    outline: none;
    width: 98%;
    color: #fff;
    caret-color: var(--main-color);
    font-size: 16px;
}
.banner form input:first-child::placeholder{
    font-size: 16px;
}
.banner form input:last-child{
    cursor: pointer;
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}
.banner .vector img{
    min-width: 400px;
    width: 100%;
    height: 100%;
}
@media (max-width: 800px){
    .banner{
        flex-direction: column-reverse;
        padding: 50px 10px
    }
}
@media (max-width: 991px){
    header{
        padding: 20px 0;
        width: 100%;
        display: block;
        position: relative;
    }
    header h1{
        margin-left: 10px;
    }
    header ul{
        margin-top: 20px;
        position: absolute;
        top: initial;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
    }
    header ul li{
        margin-left: 5px;
    }
    header .btn{
        position: absolute;
        top: 15px;
        right: 10px;
    }
    .banner h4{
        font-size: 16px;
    }
    .banner h1{
    margin: 20px 0;
    font-size: 2em;
    }
    .banner h1 span{
        color: var(--main-color)
    }
    .banner h3{
        font-size: 18px;
    }
    .banner .vector{
        margin: 50px 0;
    }
}
/* End Landing */

/* Start About & Reason */
.about{
    background-color: #121212;
    width: 100%;
    display: flex;
    justify-content: center;
}
.about .main,
.reason .main{
    width: 85%;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
}
.about img{
    max-width: 50%;
    height: 100%;
    height: auto;
    border-radius: 5px;
}
.about .text{
    padding-top: 50px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff
}
.about .text h1{
    font-size: 3em;
    line-height: 2em;
}
.about .text h5{
    margin-bottom: 15px;
    font-size: 16px;
}
.about .text p,
.reason .text p{
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}
.about .text a{
    padding: 10px 25px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 30px;
    transition: 0.3s;
}
.about .text a:hover{
    background-color: transparent;
    color: var(--main-color);
    font-weight: bold;
}
@media (max-width: 991px){
    .about .main{
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }
    .about img{
        max-width: 100%;
    }
    .about .text{
        width: 100%;
        padding-left: 0;
    }
    .about .main,
    .reason .main{
        width: 85%;
        padding: 0;
    }
}
.reason{
    background-color: #151515;
    width: 100%;
    display: flex;
    justify-content: center;
}
.reason .main h2{
    font-size: 2.5em;
    line-height: 2em;
    margin-bottom: 20px;
}
.reason .text{
    text-align: center;
    justify-content: center;
    color: #fff
}
/* End About & Reason */

/* Start Services */
#services{
    background-color: #1c1c1c;
    padding: 100px 12%;
}
#services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
#services .main-head,
#Links .main-head{
    text-align: center;
    color: #fff;
    font-size: 3em;
    line-height: 2em;
    margin-bottom: 50px;
}
#services .box{
    padding: 30px 0 0;
    background-color: rgba(0, 0, 0, 0.414);
    -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    overflow: hidden;
    transition: 0.3s;
    position: relative;
    counter-increment: services;
    cursor: pointer;
}
#services .box::before{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background-color: var(--main-color);
    transition: 0.3s ;
}
#services .box:hover::before{
    width: 100%;
}
#services .box:hover{
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    transform: translateY(-10px);
}
#services .box .title{
    text-align: center;
}
#services .box .title i{
    color: #D5D5D5
}
#services .box .title h3{
    color: var(--main-color);
    padding: 25px 0;
    font-size: 25px;
}
#services .box .foot{
    background-color: #36363648;
    padding: 15px;
    text-align: right;
    position: relative;
}
#services .box .foot::before{
    content: '0' counter(services);
    width: 80px;
    height: 100%;
    background-color: var(--main-color);
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    padding-right: 10px
}
#services .box .foot::after{
    content: '';
    width: 45px;
    height: 100%;
    position: absolute;
    left: 75px;
    top: 0;
    background-color: #D5D5D5;
    transform: skewX(-20deg);
}
#services .box .foot a{
    color: var(--main-color);
    font-size: 18px;
}
/* End Services */

/* Start Links */
#Links{
    background-color: #1c1c1c;
    padding: 100px 12%;
    transition: 0.3s;
}
#Links .categories{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px
}
#Links .categories .box {
    cursor: pointer;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 
                        0px 2px 4px 0px rgb(0 0 0 / 12%);
    -moz-box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 
                    0px 2px 4px 0px rgb(0 0 0 / 12%);
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 
                0px 2px 4px 0px rgb(0 0 0 / 12%);
}
#Links .categories .box::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 20%);
    transition: 0.3s;
    opacity: 0;
    z-index: 2;
}
#Links .categories .box:hover::before{
    animation: flashing 0.7s;
}
#Links .categories .box:first-child img{
    transform: scale(1.1);
}
#Links .categories .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
#Links .categories .box:hover img{
    transform: scale(1.3) rotate(3deg);
}

#Links .box:hover span.links-text{
    opacity: 1;
}
#Links .box span.links-text{
    display: block;
    width: 100%;
    text-align: end;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    transition: opacity 0.2s ease 0s;
}
@keyframes flashing{
    0%, 40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
/* End Links */

/* Start Awards */
.awards{
    background-color: #101010;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px
}
.awards .main{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.awards .main h1{
    color: #fff;
    font-size: 3em;
    line-height: 2em;
}
.awards .main .boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.awards .boxes .box{
    background-color: rgba(0, 0, 0, 0.414);
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 30%;
}
.awards .box svg{
    width: 45px;
    height: 45px;
    filter: invert(1);
    margin-bottom: 20px;
}
.awards .box h3{
    color: var(--main-color);
    font-size: 1.5em;
    margin-bottom: 20px;
}
.awards .box p{
    color: #fff;
    line-height: 1.5;
    margin-bottom: 40px;
}
.awards .box a{
    padding: 10px 25px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 30px;
    transition: 0.3s;
}
.awards .box a:hover{
    background-color: transparent;
    color: var(--main-color);
    font-weight: bold;
}
@media (max-width: 991px){
    .awards{
        padding: 20px 0;
    }
    .awards .main .boxes{
        flex-direction: column;
        align-items: center;
    }
    .awards .boxes .box{
        max-width: none;
    }
}
/* End Awards */

/* Start Contact */
.contact{
    background-color: #1c1c1c;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px
}
.contact .main{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact .main h2{
    color: #fff;
    font-size: 1.4em;
    line-height: 2em;
}
.contact .main a{
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 30px;
    transition: 0.3s;
    margin-top: 20px;
}
.contact .main a:hover{
    background-color: transparent;
    color: var(--main-color);
    font-weight: bold;
}
@media (max-width: 991px){
    .contact{
        padding: 20px 0;
    }
}
.footer{
    background-color: #121212;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px
}
.footer .main{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .main h3{
    color: #fff;
    line-height: 2em;
    font-size: 1.5em;
    margin: 20px auto;
}
.footer .main p:first-of-type{
    color: #fff;
    line-height: 1.5;
    text-align: center;
}
.footer .main ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}
.footer .main ul li{
    list-style: none;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: var(--main-color);
    transition: 0.3s;
}
.footer .main ul li:hover{
    transform: scale(1.2);
}
.footer .main ul li a{
    display: inline-block;

}
.footer ul li a img{
    width: 20px;
    height: auto;
    filter: invert(1);
}
.footer ul li a img.face{
    width: 12px
}
.footer ul li a svg{
    width: 20px;
}
.footer .main p:last-of-type{
    color: var(--main-color);
    line-height: 1.5;
    text-align: center;
    font-size: 14px;
}
/* End Contact */

